#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 5px 15px rgba(10, 10, 10, 10);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header h1
{
    color: rgb(212, 112, 215);
    font-family: "sofia" ,sans-serif;
    scale: 1.3;

}

#bar
{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#close{
    display: none;
}

#mobile
{
    display: none;
    align-items: center;
}


#bar1
{
    color: azure;
}



#logo
{
    color: rgb(171, 163, 180);
    font-style: unset;
    padding-left: 90px;
}

#bar li
{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#bar li a
{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(172, 168, 192);
    transition: 0.3s ease;
}

#bar li a:hover,
#bar li a.active
{
    color: rgb(255, 255, 255);
}

#bar li a.active::after,
#bar li a:hover::after
{
    content:"";
    width: 30%;
    height: 2px;
    background-color: rgb(172, 168, 192);
    position: absolute;
    bottom: -4px;
    left: 20px;

}

#banner
{
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container 
{
    position: relative;
}

.center 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner h1
{
    color: rgb(172, 168, 192);
    scale: 2;
}

#feature h1
{
    color: bisque;
}
#feature h4
{
    color: beige;
}



#feature.p1
{
    padding: 40px 80px;
}

#feature
{
    text-align: center;
}

#feature h2
{
    color: rgb(140, 2, 2);
}

#feature .pro
{
    width: 15%;
    min-width: 150px;
    padding: 10px 12px;
    border: 1px solid #272725 ;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(20, 20, 20, 20) ;
    margin: 15px 0px;
    transition: 0.2s ease;
}

#feature .pro:hover
{
    box-shadow: 20px 20px 30px rgba(35, 35, 35, 35);
    transform: scale(1.07);
}

#feature .pro img
{
    width: 100%;
    border-radius: 20px;
}

#feature p
{
    color: #64645f;
}

#feature .pro h3
{
    color: bisque;
}

#feature .pro .des
{
    text-align: start;
    padding: 10px 0px;
      
}

#feature .pro .des span
{
    color: #64645f;
}

#feature .pro .star
{
    color: rgb(199, 175, 18);
}

#feature .pro .des h3
{
    color: rgb(255, 255, 255);
    padding-top: 7px;
}

#feature .pro .des h2
{
    color: rgb(207, 125, 2);
}

#feature .pro-container
{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.section1
{
    margin: 40px 0px;
}

#banner2
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(img/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
}

#banner2 .a1
{
    color: #44443a;
}

#banner2 span
{
    color: rgb(99, 110, 110);
}

/* Shop page */

#banner_shop
{
    background-image: url(img/signup.jpg);
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#banner_shop .st1
{   
    color: #ffffff;
}

#pagination
{
    text-align: center;
}

#pagination a
{
    text-decoration: none;
    background-color: #44443a;
    padding: 15px 20px;
    border-radius: 4px;
    color: bisque;
    font-weight: 600;
}

.single-product
{
    width: 40%;
    margin-right: 50px;
    margin-left: 40px;
}

#prodetails
{   
    display: flex;
    margin-top: 20px;
}

#prodetails .single-prodetails 
{
    color: bisque;
    width: 50%;
    padding-top: 30px;
}

.small-img-col
{
    flex-basis: 20.8%;
    cursor: pointer;
}

.small-img-col :hover
{
    transform: scale(1.1);
    transition: 0.4s;
}

.small-img-group
{
    display: flex;
    padding-top: 20px;
}

#prodetails .single-prodetails h3
{
    color: antiquewhite;
    padding: 40px 0 20px 0;
    font-size : 30px;
}

#prodetails .single-prodetails h5
{
    font-size: 20px;
}

#prodetails .single-prodetails h1
{
    color: rgb(227, 151, 0);
}

#prodetails .single-prodetails select
{
    display: block;
    block-size: 40px;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #272725;
    color: bisque;
    cursor: pointer;
}

#prodetails .single-prodetails input
{
    width: 40px;
    height: 34px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    background-color: #272725;
    color: bisque;
    border-radius: 3px;
}

#prodetails .single-prodetails button
{
    background-color: #44443a;
    color: bisque;
    border-radius: 5px;
    box-shadow: #64645f;
    padding-left: 10px;
    font-size: 20px;

}

#prodetails .single-prodetails button:hover
{
    cursor: pointer;
}

#prodetails .single-prodetails
{
    font-size: 20px;
    color: #64645f;
    
}

#prodetails .single-prodetails button:focus
{
    outline: none;
}
#prodetails .single-prodetails input:focus
{
    outline: none;
}

#prodetails .single-prodetails select:focus
{
    outline: none;
}

#cart
{
    color: #a7a7a6;
    padding: 40px 80px;
}

#cart table
{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img
{
    width: 70px;

}

#cart table td:nth-child(1)
{
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2)
{
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3)
{
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6)
{
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input
{
    width: 70px;
    padding: 10px 5px 10px 15px;
    border-left: none;
    border-right: none;
}

#cart table thead
{
    border: 1px solid #bdc2bb;
    border-left: none;
    border-right: none;
}

#cart table thead td
{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td
{
    padding-top: 15px;
}

#cart table tbody td
{
    font-size: 19px;
}

#cart table input
{
    color: antiquewhite;
    background-color: #363631;
}
#cart td i
{
    color: beige;
}
#cart td i:hover
{
    transform: scale(1.2);
    transition-duration: 0.3s;
    color: #fff;
}

#buy
{
    width: 100%;
    height: 100vh;
    background: #001660;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

form
{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
form h1
{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea
{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}
form button
{
    padding: 15px;
    color: #fff;
    background: #ff5361;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

#buy a
{
    margin-top: 20px;
    color: #bdc2bb;
    font-size: 30px;
}

#buy a:hover,
#buy a.active
{
    color: rgb(255, 0, 0);
    transform: scale(1.2);
    transition: 0.4s ease;
}

#buyNow a
{
    color: #a7a7a6;
    font-size: 30px;
    background: #363631;
    border-radius: 30px;
    
}

#buyNow a:hover
{
    color: bisque;
}

#buyNow
{
    text-align: center;
}



@media (max-width:799px)
{
    #bar
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        right: -300px;
        top: 0;
        height: 100vh;
        width: 300px;
        background-color: #272725;
        box-shadow: 0 40px 60px rgba(10, 10, 10, 10) ;
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #bar.active
    {
        right: 0px;
    }
    #bar li
    {
        margin-bottom: 25px;
    }

    #mobile
 {
    display: flex;
    align-items: center;
 }

    #mobile i
    {
        color: rgb(172, 168, 192);
        padding-left: 20px;
        font-size: 24px;
    }

    #close
    {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #a7a7a6;
        font-size: 24px;

    }

    #lg-bag
    {
        display: none;
    }

    #banner h5

    {   
        display: initial;
        text-align: center;
        padding-left: 180px;

    }

    #banner 
    {
        padding-bottom: 200px;
    }

    #banner_shop h2
    {
        padding-bottom: 100px;
    }

    #pro
    {
        text-align: center;
    }

    #prodetails
    {
        align-items: center;
        margin-left: 100px;
    }
    .single-product
    {
        align-items: center;
        height: 100vh;
        width: 100%;
    }

    .small-img-group 
    {
        display: flex;
        justify-content: space-between;

    }
    .small-img-col
    {
        margin: 0px 20px;
    }
    .single-prodetails
    {
        margin-top: 400px;
        height: 100vh;
    }
    #MainImg
    {
        width: 50%;
        position: absolute;
        float: left;

    }
} 

